@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Dangrek&family=Delius+Unicase&family=Lato:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 30px;
    color: #b0143e;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 16px 1rem rgba(0, 0, 0, 0.2);
    font-size: 10vmin;
    color: #b0143e;
    font-family: 'Dangrek', sans-serif;
    background-color: #b9f12bc4;
    cursor: pointer;
    font-weight: 700;

}

.box:hover {
    transform: scale(1.1);
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    background-color: #5A43CB;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto';
    cursor: pointer;

}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    background-color: #5A43CB;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto';
    cursor: pointer;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hidden {
    display: none;
}

.change-color {
    color: #5A43CB;
}